@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

div,
ul {
  max-width: 100%;
}

h1 {
  font-weight: normal;
  font-size: 54px;
}

h2 {
  margin-top: 12px;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 20px;
}

h3 {
  margin: 0;
  font-size: 22px;
}

.restaurants-view {
    padding: 68px;
}

.restaurants-list ul {
  display: flex;
  flex-wrap: wrap;

  padding-left: 0;
  list-style: none;
}

.restaurants-list ul li {
  flex: 0 1 304px;
  margin: 40px 0;
}

.restaurants-list-item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0px 11px;
  height: 100%;
}

.restaurants-list-item img {
  object-fit: cover;
  max-width: 100%;
  height: 228px;
  margin-bottom: 12px;
}

.restaurants-list-item .star-rating {
  margin-top: 8px;
  margin-bottom: 10px;
}

.restaurants-list-item__details {
  display: flex;
  justify-content: space-between;

  margin-top: 10px;
  margin-bottom: 12px;

  font-size: 12px;
  color: #757575;
  text-transform: uppercase;
}

.status__indicator {
  margin-right: 4px;
  color: #ff3548;
}

.status__indicator--open {
  color: #00e8a4;
}

.restaurants-list-item__learn-more-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
  margin-top: 12px;
}

.restaurants-list-item a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 48px;

  background: #002b56;

  font-size: 14px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  text-decoration: none;

  cursor: pointer;
}

.photos {
  display: flex;
  margin: 0 0 0 -11px;
  padding: 0;

  overflow: scroll;

  list-style: none;
}

.photos img {
  margin: 0 10px;
  object-fit: cover;
  height: 228px;
  margin-bottom: 12px;
}

.restaurants-details__main {
  padding: 0 68px;
}

.restaurants-details-item__details {
  display: flex;
  justify-content: space-between;

  margin-top: 10px;
  margin-bottom: 12px;

  font-size: 22px;
  color: #757575;
}

.reviews h2 {
  position: relative;
  left: 68px;
  top: 90px;
}

.reviews__list {
  width: 100%;
  padding-left: 0px;

  list-style-type: none;
}

.review-item {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 130px 68px;

  border-top: solid 1px #e6e6e6;
  border-bottom: solid 1px #e6e6e6;
}

.review-item__author {
  display: flex;
  flex: 0 0 304px;
}

.review-item__author-image {
  object-fit: cover;
  object-position: top;

  width: 80px;
  height: 80px;

  margin-right: 36px;
}

.review-item__author-image-placeholder {
  background: #d8d8d8;

  width: 80px;
  height: 80px;

  margin-right: 36px;
}

.review-item__date {
  margin-top: 10px;

  color: #666666;
  font-size: 16px;
}

.review-item__content {
  font-size: 20px;
}

.filters {
    display: flex;
    align-items: center;
}

.filters__open-now-label {
    margin-right: 24px;
}

.filters__category-label {
    margin-right: 8px;
}

.filters__open-now {
    display: none;
}

.filters__open-now + label {
    display:inline-block;
    width:16px;
    height:16px;

    margin: 0 4px 0 12px;

    background:url(/static/media/open-now-checkbox--unchecked.png);
    cursor:pointer;
}
.filters__open-now:checked + label {
    background:url(/static/media/open-now-checkbox--checked.png) ;
}



/* Solution for stars is insolently copied from https://codepen.io/machal/pen/yayxGv */
.star {
  fill: #002B56;
  stroke: #002B56;
  stroke-width: 1;
}

.star--half {
  fill: url(#halfGradient);
}

.star--empty {
  fill: none;
}

.star {
  height: 30px;
}

.review-item__content .star {
    height: 20px;
}

.star-source {
  position: absolute;
  width: 0;
  top: 0;
}

svg {
  display: inline-block;
  vertical-align: top;
}
