@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-weight: normal;
  font-size: 54px;
}

h2 {
  margin-top: 12px;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 20px;
}

.hero p {
  max-width: 50%;
}

.restaurants-list ul {
  display: flex;
  flex-wrap: wrap;

  padding-left: 0;
  list-style: none;
}

.restaurants-list ul li {
  flex: 304px 1 0;
  margin: 40px 0;
}

.restaurants-list-item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0px 11px;
  height: 100%;
}

.restaurants-list-item img {
  object-fit: cover;
  max-width: 100%;
  height: 228px;
  margin-bottom: 12px;
}

.restaurants-list-item-rating {
  margin-top: 8px;
  margin-bottom: 10px;
}

.restaurants-list-item__details {
  display: flex;
  justify-content: space-between;

  margin-top: 10px;
  margin-bottom: 12px;

  font-size: 12px;
  color: #757575;
  text-transform: uppercase;
}

.restaurants-list-item__status-indicator {
    margin-right: 4px;
    color: #FF3548;
}

.restaurants-list-item__status-indicator--open {
    color: #00E8A4;
}

.restaurants-list-item__learn-more-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
  margin-top: 12px;
}

.restaurants-list-item button {
  width: 100%;
  height: 48px;

  background: #002b56;

  font-size: 14px;
  color: white;
  text-transform: uppercase;
}
